/FiveRectangleComputation.class
/FourConverter.class
/PrintCheckerPattern.class
/PrintSquarePattern.class
/PrintStarPattern.class
/PrintTriangularPattern.class
/ThreeSumAndAverage.class
/TwoComputeArea.class
/lorem.class
